* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFF3E4;
}

.navbar {
    background-color: #6B4F4F;
    padding-left: 32px;
    padding-right: 32px;
    font-family: 'Poppins', sans-serif;
}

.navbar a {
    color: #FFF3E4;
}

.navbar img {
    width: 68px;
    margin-right: 20px;
}

.btn-search {
    background-color: #FFF3E4;
    color: #6B4F4F;
}

.fa-user-circle-o{
    color: #FFF3E4;
}

span {
    font-size: 16px;
    color: #FFF3E4;
}

.menu {
    color: #6B4F4F;
    text-decoration: underline;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card {
    font-family: 'Poppins', sans-serif;
}

.card img {
    height: 300px;
    object-fit: cover;
}

.menu-type {
    display: flex;
    flex-direction: row;
}

.type {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.badge {
    width: 80px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 100;
    background-color: #FFF3E4;
    color: black;
    font-family: 'Poppins', sans-serif;
}

.badge:hover {
    border: 1px solid black;
}
